@model Entity.info_Question

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>问题分类修改</title>
</head>
<body>
    <h2 align="center">问题分类修改</h2>
    @using (Html.BeginForm("QuestioEdits", "System", "post"))
    {
            <table align="center">
                <tr>
                    <td>问题分类名称</td>
                    <td>
                        @Html.HiddenFor(model => model.QID)
                        @Html.EditorFor(model => model.QName)
                    </td>
                </tr>
                <tr>
                    <td>问题分类备注</td>
                    <td>@Html.EditorFor(model => model.QRemark)</td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="更改" Class="btn1" style="margin-left:10px" />
                        <input type="button" value="返回" Class="btn1" style="margin-left:10px" OnClick="window.location.href = '/Systems/QuestionSelect'" />
                    </td>

                </tr>

            </table>
      
    }
</body>
</html>
