<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--登录-->
      <container name="UserOne">
        <register type="IDAO.IUserDao,IDAO" mapTo="DAO.UserDao,DAO" name="UserDao"></register>
      </container>
      <container name="UserTwo">
        <register type="IBLL.IUserBll,IBLL" mapTo="BLL.UserService,BLL" name="UserService"></register>
      </container>

      <!--资产-->
      <container name="AssetOne">
        <register type="IDAO.IAssetDao,IDAO" mapTo="DAO.AssetDao,DAO" name="AssetDao"></register>
      </container>
      <container name="AssetTwo">
        <register type="IBLL.IAssetBll,IBLL" mapTo="BLL.AssetService,BLL" name="AssetService"></register>
      </container>
      <!--机房进出申请-->
      <container name="ComputerRoomVisitOne">
        <register type="IDAO.IComputerRoomVisitDao,IDAO" mapTo="DAO.ComputerRoomVisitDao,DAO" name="ComputerRoomVisitDao"></register>
      </container>
      <container name="ComputerRoomVisitTwo">
        <register type="IBLL.IComputerRoomVisitBll,IBLL" mapTo="BLL.ComputerRoomVisitService,BLL" name="ComputerRoomVisitService"></register>
      </container>

      <!--会议记录-->
      <container name="MeetingOne">
        <register type="IDAO.IMeetingDAO,IDAO" mapTo="DAO.MeetingDao,DAO" name="MeetingDao"></register>
      </container>
      <container name="MeetingTwo">
        <register type="IBLL.IMeetingBll,IBLL" mapTo="BLL.MeetingService,BLL" name="MeetingService"></register>
      </container>


      <!--采购形式-->
      <container name="CaiGouXingShiOne">
        <register type="IDAO.ICaiGouXingShiDao,IDAO" mapTo="DAO.CaiGouXingShiDao,DAO" name="CaiGouXingShiDao"></register>
      </container>
      <container name="CaiGouXingShiTwo">
        <register type="IBLL.ICaiGouXingShiBll,IBLL" mapTo="BLL.CaiGouXingShiService,BLL" name="CaiGouXingShiService"></register>
      </container>

      <!--采购依据-->
      <container name="CaiGouYiJuOne">
        <register type="IDAO.ICaiGouYiJuDao,IDAO" mapTo="DAO.CaiGouYiJuDao,DAO" name="CaiGouYiJuDao"></register>
      </container>
      <container name="CaiGouYiJuTwo">
        <register type="IBLL.ICaiGouYiJuBll,IBLL" mapTo="BLL.CaiGouYiJuService,BLL" name="CaiGouYiJuService"></register>
      </container>

      <!--资产类别-->
      <container name="ZiChanBeiZhuOne">
        <register type="IDAO.IZiChanBeiZhuDao,IDAO" mapTo="DAO.ZiChanBeiZhuDao,DAO" name="ZiChanBeiZhuDao"></register>
      </container>
      <container name="ZiChanBeiZhuTwo">
        <register type="IBLL.IZiChanBeiZhuBll,IBLL" mapTo="BLL.ZiChanBeiZhuService,BLL" name="ZiChanBeiZhuService"></register>
      </container>
      <!--资产报废申请-->
      <container name="PiShiJieGuoOne">
        <register type="IDAO.IPiShiJieGuoDao,IDAO" mapTo="DAO.PiShiJieGuoDao,DAO" name="PiShiJieGuoDao"></register>
      </container>
      <container name="PiShiJieGuoTwo">
        <register type="IBLL.IPiShiJieGuoBll,IBLL" mapTo="BLL.PiShiJieGuoService,BLL" name="PiShiJieGuoService"></register>
      </container>

      <!--机房维护-->
      <container name="MaintenanceOne">
        <register type="IDAO.IMaintenanceDao,IDAO" mapTo="DAO.MaintenanceDao,DAO" name="MaintenanceDao"></register>
      </container>
      <container name="MaintenanceTwo">
        <register type="IBLL.IMaintenanceBll,IBLL" mapTo="BLL.MaintenanceService,BLL" name="MaintenanceService"></register>
      </container>
      
      <!--检测项目-->
      <container name="CheckOne">
        <register type="IDAO.ICheckDao,IDAO" mapTo="DAO.CheckDao,DAO" name="CheckDao"></register>
      </container>
      <container name="CheckTwo">
        <register type="IBLL.ICheckBll,IBLL" mapTo="BLL.CheckService,BLL" name="CheckService"></register>
      </container>
      
      <!--设备-->
      <container name="EquipmentOne">
        <register type="IDAO.IEquipmentDao,IDAO" mapTo="DAO.EquipmentDao,DAO" name="EquipmentDao"></register>
      </container>
      <container name="EquipmentTwo">
        <register type="IBLL.IEquipmentBll,IBLL" mapTo="BLL.EquipmentService,BLL" name="EquipmentService"></register>
      </container>
      
    </containers>
  </unity>

</configuration>
