
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        img {
           margin-left:80px;
           margin-top:40px;
        }
    </style>
</head>
<body>
    <div > 
        <img src="~/Image/timg.jpg"/>
     </div>
</body>
</html>
