
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>left</title>

    <link href="~/Image/bootstrap.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>

    <style type="text/css">
        #line-chart {
            height: 300px;
            width: 800px;
            margin: 0px auto;
            margin-top: 1em;
        }

        .brand {
            font-family: georgia, serif;
        }

            .brand .first {
                color: #ccc;
                font-style: italic;
            }

            .brand .second {
                color: #fff;
                font-weight: bold;
            }

        a {
            color: black;
        }
    </style>

    <script type="text/javascript">
            //$("[rel=tooltip]").tooltip();
        $(function () {

            $('.nav').hide();
            $('.nav-header').click(function () {
                $(this).next(".nav").toggle(300);
            });
                                                <a class="a1" href="~/Asset/AssetSelect" target="main">资产登记</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="13%" align="center">
                                                <img src="~/img/left_1.gif" width="8" height="8" />
                                            </td>
                                            <td width="87%">
                                                <a class="a1" href="/Asset/AssetRepairSelect" target="main">资产维修报废申请</a>
                                            </td>
                                        </tr>

            });
    </script>
                                        <tr>
                                            <td width="13%" align="center">
                                                <img src="~/img/left_1.gif" width="8" height="8" />
                                            </td>
                                            <td width="87%">
                                                <a class="a1" href="/Asset/AssetReviewSelect" target="main">资产维修报废审核</a>
                                            </td>
                                        </tr>

</head>
<body class="" style="background-color:#F3F3F3">
    <div class="sidebar-nav">
        @*资产管理*@
        <p class="nav-header"><a href="#dashboard-menu"> <i class="icon-dashboard"></i><spans id="aa">资产管理</spans> </a> </p>

        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li><a href="index.html" target="main">资产登记</a></li>
            <li><a href="users.html" target="main">资产维修报废申请</a></li>
            <li><a href="user.html" target="main">资产维修报废审核</a></li>
            <li><a href="media.html" target="main">资产维修报废查询</a></li>
            <li><a href="calendar.html" target="main">资产设备统计查询</a></li>

        </ul>
                                        <tr>
                                            <td width="13%" align="center">
                                                <img src="~/img/left_1.gif" width="8" height="8" />
                                            </td>
                                            <td width="87%">
                                                <a class="a1" href="/Asset/AssetStatusSelect" target="main">资产维修报废查询</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            @*机房管理*@
        <p class="nav-header"><a href="#dashboard-menu"><i class="icon-dashboard"></i>机房管理</a></p>
        <ul id="accounts-menu" class="nav nav-list collapse in">
            <li><a href="index.html" target="main">机房进出申请</a></li>
            <li><a href="users.html" target="main">机房进出审批</a></li>
            <li><a href="/WhuWxiu/Index" target="main">机房维护维修</a></li>
            <li><a href="media.html" target="main">机房设备管理</a></li>
            <li><a href="calendar.html" target="main">机房进出查询</a></li>
            <li><a href="#" target="main">机房维护维修查询</a></li>
        </ul>

                                                <a class="a1" href="~/JiFang/Index" target="main">机房进出申请</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="13%" align="center">
                                                <img src="~/img/left_1.gif" width="8" height="8" />
                                            </td>
                                            <td width="87%">
                                                <a class="a1" href="~/ShenPi/Index" target="main">机房进出审批</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="13%" align="center">
                                                <img src="~/img/left_1.gif" width="8" height="8" />
                                            </td>
                                            <td width="87%">
                                                <a class="a1" href="#" target="main">机房维护维修</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td width="13%" align="center">
                                                <img src="~/img/left_1.gif" width="8" height="8" />
                                            </td>
                                            <td width="87%">
                                                <a class="a1" href="#" target="main">机房设备管理</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="13%" align="center">
                                                <img src="~/img/left_1.gif" width="8" height="8" />
                                            </td>
                                            <td width="87%">
                                                <a class="a1" href="/Maintain/JiFangJinChuSelelctAll" target="main">机房进出查询</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="13%" align="center">
                                                <img src="~/img/left_1.gif" width="8" height="8" />
                                            </td>
                                            <td width="87%">
                                                <a class="a1" href="#" target="main">机房维护维修查询</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            @*视频会议*@
        <p class="nav-header"><a href="#dashboard-menu"><i class="icon-dashboard"></i>视频会议</a></p>
        <ul id="accounts-menu" class="nav nav-list collapse in">
            <li><a href="~/Meeting/Index" target="main">会议测试及开会记录</a></li>
            <li><a href="/Meeting/IndexQZ" target="main">会议测试及开会签字</a></li>
            <li><a href="#" target="main">会议设备维修申请</a></li>
            <li><a href="#" target="main">会议设备维修审核</a></li>
            <li><a href="/Meeting/selectCX" target="main">视频会议查询</a></li>
        </ul>

                            @*软件维护*@
        <p class="nav-header"><a href="#dashboard-menu"><i class="icon-dashboard"></i>软件维护</a></p>
        <ul id="accounts-menu" class="nav nav-list collapse in">
            <li><a href="~/Meeting/Index" target="main">技术支持内容登记</a></li>
            <li><a href="/Meeting/IndexQZ" target="main">业务系统使用申请</a></li>
            <li><a href="#" target="main">业务系统变更申请</a></li>
            <li><a href="#" target="main">业务系统数据修改申请</a></li>
            <li><a href="/Meeting/selectCX" target="main">业务系统使用审核</a></li>
            <li><a href="~/Meeting/Index" target="main">业务系统变更审核</a></li>
            <li><a href="/Meeting/IndexQZ" target="main">业务系统数据修改审核</a></li>
        </ul>

        @*查询统计*@
        <p class="nav-header"><a href="#dashboard-menu"><i class="icon-dashboard"></i>查询统计</a></p>
        <ul id="accounts-menu" class="nav nav-list collapse in">
            <li><a href="~/Meeting/Index" target="main">技术支持查询</a></li>
            <li><a href="/Meeting/IndexQZ" target="main">机房设备统计查询</a></li>
            <li><a href="#" target="main">人员情况查询</a></li>
            <li><a href="#" target="main">文档查询</a></li>
            <li><a href="/Meeting/selectCX" target="main">机房进出查询</a></li>
            <li><a href="~/Meeting/Index" target="main">视频会议查询</a></li>
            <li><a href="/Meeting/IndexQZ" target="main">机房维护维修查询</a></li>
            <li><a href="/Meeting/IndexQZ" target="main">机房设备查询</a></li>
            <li><a href="/Meeting/IndexQZ" target="main">业务系统数据修改查询</a></li>
            <li><a href="/Meeting/IndexQZ" target="main">业务系统使用查询</a></li>
        </ul>

                            @*查询统计*@
        <p class="nav-header"><a href="#dashboard-menu"><i class="icon-dashboard"></i>系统设置</a></p>
        <ul id="accounts-menu" class="nav nav-list collapse in">
            <li><a href="~/Meeting/Index" target="main">权限管理</a></li>
            <li><a href="/Meeting/IndexQZ" target="main">部门管理</a></li>
            <li><a href="#" target="main">用户管理</a></li>
            <li><a href="#" target="main">文件类别管理</a></li>
            <li><a href="/Meeting/selectCX" target="main">资产类别管理</a></li>
            <li><a href="~/Meeting/Index" target="main">软件名称维护</a></li>
            <li><a href="/Meeting/IndexQZ" target="main">问题分类维护</a></li>
            <li><a href="/Meeting/IndexQZ" target="main">人员情况查询</a></li>
        </ul>
        </div>
</body>
</html>
