
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <link href="~/css/css.css" rel="stylesheet" />
</head>
<frameset rows="80,*" cols="*" frameborder="NO" border="0" framespacing="0">
    <frame src="top" name="top" scrolling="NO" noresize>
        <frameset name="lf" cols="195,*" frameborder="NO" border="0" framespacing="0">
            <frame src="left" name="left" scrolling="NO" noresize>
                <frame src="Index" name="main" id="main">
        </frameset>
</frameset>
</html>
