
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>top</title>
    <link href="~/Image/bootstrap.css" rel="stylesheet" />
    <link href="~/css/css.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />

    <style type="text/css">
        #line-chart {
            height: 300px;
            width: 800px;
            margin: 0px auto;
            margin-top: 1em;
        }

        .brand {
            font-family: georgia, serif;
        }

            .brand .first {
                color: #ccc;
                font-style: italic;
            }

            .brand .second {
                color: #fff;
                font-weight: bold;
            }
        .nav pull-right {
           float:right;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav pull-right">
                <li id="fat-menu" class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i>  @ViewData["user"]
                    </a>
                </li>
                <li><a href="/Login/Login" class="hidden-phone visible-tablet visible-desktop" role="button">退出</a></li>
            </ul>
            <a class="brand" href="index.html" id="hh"><span class="first"></span> <span class="second">信息管理</span></a>

        </div>
    </div>
</body>
</html>